## {{ansible_managed}}

#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html


#################
#### MODULES ####
#################

$ModLoad imuxsock # provides support for local system logging
$ModLoad imklog   # provides kernel logging support
#$ModLoad immark  # provides --MARK-- message capability

# provides UDP syslog reception
#$ModLoad imudp
#$UDPServerRun 514

# provides TCP syslog reception
#$ModLoad imtcp
#$InputTCPServerRun 514


###########################
#### GLOBAL DIRECTIVES ####
###########################

## http://www.rsyslog.com/doc/master/configuration/property_replacer.html

$template SyslogProtocol23YPIDFormat,"<%PRI-TEXT%>1\9%$NOW% %TIMESTAMP:8:$:%.%TIMESTAMP:::date-subseconds% %HOSTNAME% %APP-NAME% %PROCID% %MSGID% %STRUCTURED-DATA% %msg%\n" # One way to do it.
# $template SyslogProtocol23YPIDFormat,"<%PRI-TEXT%>1 %$NOW% %TIMESTAMP:::date-year%-%TIMESTAMP:::date-month% %HOSTNAME% %APP-NAME% %PROCID% %MSGID% %STRUCTURED-DATA% %msg%\n" Too long :)
# $ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat
# $ActionFileDefaultTemplate RSYSLOG_SyslogProtocol23Format
$ActionFileDefaultTemplate SyslogProtocol23YPIDFormat


#
# Set the default permissions for all log files.
#
$FileOwner root
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022

#
# Where to place spool and state files
#
$WorkDirectory /var/spool/rsyslog

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf


###############
#### RULES ####
###############
#
# 0		kern	kernel messages
# 1		user	user-level messages
# 2		mail	mail system
# 3		daemon	system daemons
# 4		auth	security/authorization messages
# 5		syslog	messages generated internally by syslogd
# 6		lpr		line printer subsystem
# 7		news	network news subsystem
# 8		uucp	UUCP subsystem
# 9		cron	clock daemon
# 10	security	security/authorization messages
# 11	ftp		FTP daemon
# 12	ntp		NTP subsystem
# 13	logaudit	log audit
# 14	logalert	log alert
# 15	clock	clock daemon (note 2)
# 16	local0	local use 0 (local0)
# 17	local1	local use 1 (local1)
# 18	local2	local use 2 (local2)
# 19	local3	local use 3 (local3)
# 20	local4	local use 4 (local4)
# 21	local5	local use 5 (local5)
# 22	local6	local use 6 (local6)
# 23	local7	local use 7 (local7)
#
# Serverities
# 0: emerg
# 1: alert
# 2: crit
# 3: error
# 4: warning
# 5: notice
# 6: info
# 7: debug
#
# hyphen (-) in front of a logfiles means to not sync for every write which can
# be used for non-critical logfiles.

#
# First some standard log files.  Log by facility.
#
*.*;auth,authpriv.none;kern.none;user.!info;user.!=debug		-/var/log/syslog
auth,authpriv.*					/var/log/auth.log
kern.*;kern.!=debug				/var/log/kern.log
kern.=debug						-/var/log/kern-debug.log
user.=info;user.=debug			-/var/log/user.info
#daemon.*								/var/log/daemon.log
#cron.*				/var/log/cron.log
# lpr.*				/var/log/lpr.log
# mail.*				/var/log/mail.log
# user.*				/var/log/user.log

#
# Logging for the mail system.  Split it up so that
# it is easy to write scripts to parse these files.
#
# mail.info			/var/log/mail.info
# mail.warn			/var/log/mail.warn
# mail.err			/var/log/mail.err

#
# Logging for INN news system.
#
# news.crit			/var/log/news/news.crit
# news.err			/var/log/news/news.err
# news.notice			/var/log/news/news.notice

#
# Some "catch-all" log files.
#
# *.=debug;kern.!=debug;\
	# auth,authpriv.none;\
	# news.none;mail.none	/var/log/debug
# *.=info;*.=notice;*.=warn;\
	# auth,authpriv.none;\
	# cron,daemon.none;\
	# mail,news.none		/var/log/messages

#
# Emergencies are sent to everybody logged in.
#
*.emerg;*.alert				:omusrmsg:*

#
# I like to have messages displayed on the console, but only on a virtual
# console I usually leave idle.
#
#daemon,mail.*;\
#	news.=crit;news.=err;news.=notice;\
#	*.=debug;*.=info;\
#	*.=notice;*.=warn	/dev/tty8

# The named pipe /dev/xconsole is for the `xconsole' utility.  To use it,
# you must invoke `xconsole' with the `-file' option:
#
#    $ xconsole -file /dev/xconsole [...]
#
# NOTE: adjust the list below, or you'll go crazy if you have a reasonably
#      busy site..
#
# daemon.*;mail.*;\
	# news.err;\
	# *.=debug;*.=info;\
	# *.=notice;*.=warn	|/dev/xconsole
