## {{ansible_managed}}

/var/log/kern-debug.log
/var/log/user.info
{
	rotate 4
	weekly
	missingok
	notifempty
	nocompress
	nodelaycompress
	# compress
	# delaycompress
	sharedscripts
	postrotate
		invoke-rc.d rsyslog rotate > /dev/null
	endscript
}
